record(longin, "$(P)$(R)E$(E):EVGIOstatus_") { field(FLNK, "$(P)$(R)E$(E):EVGIOstatus") }
record(mbbiDirect, "$(P)$(R)E$(E):EVGIOstatus") {
    field(DESC, "Individual bits of $(P)$(R)E$(E):EVGIOstatus_")
    field(INP,  "$(P)$(R)E$(E):EVGIOstatus_")
}
