#
# Trigger a system monitor readback
# Value is the FPGA power-up status
#
record(bi, "$(P)$(R)sysmonTrig_") {
    field(DESC, "Trigger system monitor readback")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0x2000, 0)")
    field(ZNAM, "Running")
    field(ONAM, "Rebooted")
    field(SCAN, "5 second")
    field(PINI, "YES")
    field(FLNK, "$(P)$(R)reconnChk_")
}

#
# Get 32-bit Git Hash ID
#

record(longin, "$(P)$(R)gitID") {
    field(DESC, "32-bit Git ID")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0x0002, 1)")
    field(PINI, "YES")
    field(SCAN, "Passive")
}

#
# Push values to FPGA on reconnection.
# Monitor the status of a periodically-scanned readback to
# detect reconnection or FPGA power up.
#
record(calcout, "$(P)$(R)reconnChk_") {
    field(DESC, "Push on reconnect")
    field(INPA, "$(P)$(R)sysmonTrig_.STAT NPP")
    field(INPB, "$(P)$(R)sysmonTrig_ NPP")
    field(INPD, "0")
    field(CALC, "A=0&&((D!=0)||B);D:=A")
    field(OOPT, "When Non-zero")
    field(OUT,  "$(P)$(R)reconnA_.PROC")
}
record(fanout, "$(P)$(R)reconnA_") {
    field(PINI, "YES")
    field(LNK1, "$(P)$(R)reconnX_")
    field(LNK2, "$(P)$(R)INJ:extendInterval")
    field(FLNK, "$(P)$(R)clrPowerup_")
}
record(event, "$(P)$(R)reconnX_") {
    field(DTYP, "Soft Channel")
    field(VAL,  "RECON")
    field(PINI, "RUNNING")
}
record(longout, "$(P)$(R)clrPowerup_") {
    field(DESC, "Clear FPGA power-up status")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT), 0x1000, 0)")
}

#
# Injector sequence
#
record(bo, "$(P)$(R)INJ:injCycleEnable") {
    field(DESC, "Enable/disable injection cycle requests")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT), 0x1F01, 0)")
    field(ZNAM, "Disable")
    field(ONAM, "Enable")
    field(FLNK, "$(P)$(R)INJ:forcerbk_")
}
record(seq, "$(P)$(R)INJ:forcerbk_") {
    field(DESC, "Force status readback")
    field(LNK1, "$(P)$(R)sysmonTrig_.PROC")
    field(DOL1, "0")
}
record(ao, "$(P)$(R)INJ:extendInterval") {
    field(DESC, "Extend injection cycle interval")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT), 0x1F04, 0)")
    field(PREC, "4")
    field(EGU,  "s")
    field(LINR, "SLOPE")
    field(EOFF, "0")
    field(ESLO, "0.001")
    field(LOPR, "0")
    field(HOPR, "20")
    field(DRVL, "0")
    field(DRVH, "20")
    info(autosaveFields_pass0, "VAL")
}
record(longin, "$(P)$(R)INJ:injCycleCSR") {
    field(FLNK, "$(P)$(R)INJ:injCycleEnabled")
}
record(mbbi, "$(P)$(R)INJ:injCycleEnabled") {
    field(DTYP, "Raw Soft Channel")
    field(INP,  "$(P)$(R)INJ:injCycleCSR NPP MS")
    field(NOBT, "1")
    field(ZRVL, "0")
    field(ZRST, "Disabled")
    field(ONVL, "1")
    field(ONST, "Enabled")
}

record(mbbo, "$(P)$(R)INJ:alignSel") {
    field(DESC, "Injection alignment selection")
    field(ZRVL, "0")
    field(ZRST, "Normal")
    field(ONVL, "1")
    field(ONST, "Alternative")
    field(FLNK, "$(P)$(R)INJ:alignSel_")
    info(autosaveFields_pass0, "VAL")
}

record(longout, "$(P)$(R)INJ:alignSel_") {
    field(DESC, "Injection alignment selection")
    field(DTYP, "asynInt32")
    field(DOL,  "$(P)$(R)INJ:alignSel NPP")
    field(OMSL, "closed_loop")
    field(LOPR, "0")
    field(HOPR, "1")
    field(DRVL, "0")
    field(DRVH, "1")
    field(OUT,  "@asyn($(PORT), 0x1600, 0)")
    field(FLNK, "$(P)$(R)INJ:alignStatus_")
}

record(mbbo, "$(P)$(R)INJ:hbSel") {
    field(DESC, "Injection heartbeat selection")
    field(ZRVL, "0")
    field(ZRST, "Normal")
    field(ONVL, "1")
    field(ONST, "Alternative")
    field(FLNK, "$(P)$(R)INJ:hbSel_")
    info(autosaveFields_pass0, "VAL")
}

record(longout, "$(P)$(R)INJ:hbSel_") {
    field(DESC, "Injection heartbeat selection")
    field(DTYP, "asynInt32")
    field(DOL,  "$(P)$(R)INJ:hbSel NPP")
    field(OMSL, "closed_loop")
    field(LOPR, "0")
    field(HOPR, "1")
    field(DRVL, "0")
    field(DRVH, "1")
    field(OUT,  "@asyn($(PORT), 0x1601, 0)")
    field(FLNK, "$(P)$(R)INJ:alignStatus_")
}

record(longin, "$(P)$(R)INJ:alignStatus_") {
    field(DESC, "Injection alignment status")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0x0300, 1)")
    field(SCAN, "Passive")
    field(FLNK, "$(P)$(R)INJ:alignStatusFanout_")
}

record(fanout, "$(P)$(R)INJ:alignStatusFanout_") {
    field(DESC, "Injection alignment readback fanout")
    field(LNK0, "$(P)$(R)INJ:alignSelRBVCalc_")
    field(LNK1, "$(P)$(R)INJ:hbSelRBVCalc_")
}

record(calc, "$(P)$(R)INJ:alignSelRBVCalc_") {
    field(DESC, "Injection alignment selection calc")
    field(INPA, "$(P)$(R)INJ:alignStatus_ NPP MS")
    field(INPB, "0xF000")
    field(CALC, "(A&B)>>12")
    field(TSEL, "$(P)$(R)INJ:alignStatus_.TIME")
    field(FLNK, "$(P)$(R)INJ:alignSelRBV")
}

record(calc, "$(P)$(R)INJ:hbSelRBVCalc_") {
    field(DESC, "Injection heartbeat selection calc")
    field(INPA, "$(P)$(R)INJ:alignStatus_ NPP MS")
    field(INPB, "0xF0000")
    field(CALC, "(A&B)>>16")
    field(TSEL, "$(P)$(R)INJ:alignStatus_.TIME")
    field(FLNK, "$(P)$(R)INJ:hbSelRBV")
}

record(mbbi, "$(P)$(R)INJ:alignSelRBV")
{
    field(DESC, "Injection selection readback")
    field(INP,  "$(P)$(R)INJ:alignSelRBVCalc_ NPP")
    field(ZRVL, "0")
    field(ZRST, "Normal")
    field(ONVL, "1")
    field(ONST, "Alternative")
}

record(mbbi, "$(P)$(R)INJ:hbSelRBV")
{
    field(DESC, "Injection heartbeat readback")
    field(INP,  "$(P)$(R)INJ:hbSelRBVCalc_ NPP")
    field(ZRVL, "0")
    field(ZRST, "Normal")
    field(ONVL, "1")
    field(ONST, "Alternative")
}

record(longout, "$(P)$(R)INJ:arBucket") {
    field(DESC, "Injection AR bucket selection")
    field(DTYP, "asynInt32")
    field(LOPR, "0")
    field(HOPR, "304")
    field(DRVL, "0")
    field(DRVH, "304")
    field(OUT,  "@asyn($(PORT), 0x1800, 0)")
}

#
# I/O statistics
#
record(longin, "$(P)$(R)Cmd0RetryCount") {
    field(DESC, "Commands immediately acknowledged")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0xF000, 0)")
    field(SCAN, "10 second")
    field(FLNK, "$(P)$(R)Cmd1RetryCount")
}
record(longin, "$(P)$(R)Cmd1RetryCount") {
    field(DESC, "Commands acknowledged with one retry")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0xF001, 0)")
    field(FLNK, "$(P)$(R)Cmd2RetryCount")
}
record(longin, "$(P)$(R)Cmd2RetryCount") {
    field(DESC, "Commands acknowledged with two retries")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0xF002, 0)")
    field(FLNK, "$(P)$(R)Cmd3RetryCount")
}
record(longin, "$(P)$(R)Cmd3RetryCount") {
    field(DESC, "Commands acknowledged with three retries")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0xF003, 0)")
    field(FLNK, "$(P)$(R)Cmd4RetryCount")
}
record(longin, "$(P)$(R)Cmd4RetryCount") {
    field(DESC, "Commands acknowledged with four retries")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0xF004, 0)")
    field(FLNK, "$(P)$(R)CmdFailedCount")
}
record(longin, "$(P)$(R)CmdFailedCount") {
    field(DESC, "Commands never acknowledged")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0xF005, 0)")
    field(FLNK, "$(P)$(R)StatConnCount")
}
record(longin, "$(P)$(R)StatConnCount") {
    field(DESC, "Sequencer status connection count")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0xF006, 0)")
    field(FLNK, "$(P)$(R)StatRecvCount")
}
record(longin, "$(P)$(R)StatRecvCount") {
    field(DESC, "Sequencer status packets received")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0xF007, 0)")
    field(FLNK, "$(P)$(R)SeqMissedCount")
}
record(longin, "$(P)$(R)SeqMissedCount") {
    field(DESC, "Sequencer status packets dropped")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0xF008, 0)")
}

record(fanout, "$(P)$(R)INJfpga:rc_") {
    field(DESC, "Push FPGA records on (re)connect)")
    field(SCAN, "Event")
    field(EVNT, "RECON")
    field(LNK1, "$(P)$(R)INJ:alignSel")
    field(LNK2, "$(P)$(R)INJ:hbSel")
}
