record(longin, "$(P)$(R)E$(E):seqStatus") {
    field(DESC, "EVG $(E) sequencer CSR")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0x010$(I), 1)")
    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    field(FLNK, "$(P)$(R)E$(E):seqFanout_")
    info(archive, "VeryFastControlled")
}
record(fanout, "$(P)$(R)E$(E):seqFanout_") {
    field(DESC, "EVG $(E) fanout seqStatus")
    field(LNK0, "$(P)$(R)E$(E):seqStarts")
    field(LNK1, "$(P)$(R)E$(E):seq0Enabled")
    field(LNK2, "$(P)$(R)E$(E):seq1Enabled")
    field(LNK3, "$(P)$(R)E$(E):seqSelected")
    field(LNK4, "$(P)$(R)E$(E):seqActive")
    field(LNK5, "$(P)$(R)E$(E):seqBusy")
    field(LNK6, "$(P)$(R)E$(E):seqRequestsAccepted")
    field(LNK7, "$(P)$(R)E$(E):seqRequestsIgnored")
    info(archive, "VeryFastControlled")
}
record(calc, "$(P)$(R)E$(E):seqStarts") {
    field(DESC, "EVG $(E) injection sequences started")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0x10")
    field(CALC, "J:=(A&B)#0;VAL+(J&!K);K:=J")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    field(FLNK, "$(P)$(R)E$(E):seqFinishes")
    info(archive, "VeryFastControlled")
}
record(calc, "$(P)$(R)E$(E):seqFinishes") {
    field(DESC, "EVG $(E) injection sequences completed")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0x10")
    field(INPC, "$(P)$(R)E$(E):seqStarts NPP MS")
    field(CALC, "J:=(A&B)#0;(!J&K)?C:VAL;K:=J")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    info(archive, "VeryFastControlled")
}
record(calc, "$(P)$(R)E$(E):seq0Enabled") {
    field(DESC, "EVG $(E) sequence 0 enabled")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0x01")
    field(CALC, "(A&B)#0")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    info(archive, "VeryFastControlled")
}
record(calc, "$(P)$(R)E$(E):seq1Enabled") {
    field(DESC, "EVG $(E) sequence 1 enabled")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0x02")
    field(CALC, "(A&B)#0")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    info(archive, "VeryFastControlled")
}
record(calc, "$(P)$(R)E$(E):seqSelected") {
    field(DESC, "EVG $(E) sequence selected")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0x04")
    field(CALC, "(A&B)#0")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    info(archive, "VeryFastControlled")
}
record(calc, "$(P)$(R)E$(E):seqActive") {
    field(DESC, "EVG $(E) sequencer active")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0x08")
    field(CALC, "(A&B)#0")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    info(archive, "VeryFastControlled")
}
record(calc, "$(P)$(R)E$(E):seqBusy") {
    field(DESC, "EVG $(E) sequencer busy")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0x10")
    field(CALC, "(A&B)#0")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    info(archive, "VeryFastControlled")
}
record(calc, "$(P)$(R)E$(E):seqRequestsAccepted") {
    field(DESC, "EVG $(E) sequencer requests accepted")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0xFF00")
    field(CALC, "(A&B)>>8")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    info(archive, "VeryFastControlled")
}
record(calc, "$(P)$(R)E$(E):seqRequestsIgnored") {
    field(DESC, "EVG $(E) sequencer requests ignored")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0xFF0000")
    field(CALC, "(A&B)>>16")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    info(archive, "VeryFastControlled")
}

record(longin, "$(P)$(R)E$(E):EVIOstatus_") { field(FLNK, "$(P)$(R)E$(E):EVIOstatus") }
record(mbbiDirect, "$(P)$(R)E$(E):EVIOstatus") {
    field(DESC, "Bits of $(P)$(R)E$(E):EVIOstatus_")
    field(INP,  "$(P)$(R)E$(E):EVIOstatus_ NPP")
}

record(mbbo, "$(P)$(R)E$(E):diagOut") {
    field(DESC, "EVG $(E) diagnostic output control")
    field(DTYP, "asynUInt32Digital")
    field(OUT,  "@asynMask($(PORT), 0x140$(I), 0xFFFF, 0)")
    field(ZRVL, "0x00")
    field(ZRST, "Static {0, 0}")
    field(ONVL, "0x10")
    field(ONST, "Static {0, 1}")
    field(TWVL, "0x20")
    field(TWST, "Static {1, 0}")
    field(THVL, "0x30")
    field(THST, "Static {1, 1}")
    field(FRVL, "0x100")
    field(FRST, "{RefClk, TxClk}")
    field(FVVL, "0x200")
    field(FVST, "{Heartbeat, TxClk}")
    field(SXVL, "0x300")
    field(SXST, "{Alt Heartbeat, TxClk}")
}
record(longout, "$(P)$(R)E$(E):loopback") {
    field(DESC, "EVG $(E) loopback channel")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT), 0x150$(I), 0)")
    field(LOPR, "1")
    field(HOPR, "36")
    field(DRVL, "1")
    field(DRVH, "36")
    field(FLNK, "$(P)$(R)E$(E):latencyRb_")
}
record(seq, "$(P)$(R)E$(E):latencyRb_") {
    field(DESC, "Force EVG $(E) latency readback")
    field(LNK1, "$(P)$(R)E$(E):latency.PROC")
    field(DOL1, "1")
    field(DLY1, "0.01")  # Provide time for measurement to stabilize
}
record(ai, "$(P)$(R)E$(E):latency") {
    field(DESC, "EVG $(E) round-trip latency")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0x020$(I), 0)")
    field(SCAN, "10 second")
    field(EGU,  "ns")
    field(LINR, "SLOPE")
    field(ESLO, "0.5")
    field(EOFF, "0")
    field(LOPR, "0")
    field(HOPR, "1000")
    field(LOLO, "0.25")
    field(LLSV, "MAJOR")
}
record(fanout, "$(P)$(R)E$(E):diagOut:rc_") {
    field(DESC, "Push EVG $(E) diag out on (re)connect)")
    field(SCAN, "Event")
    field(EVNT, "RECON")
    field(LNK1, "$(P)$(R)E$(E):diagOut")
    field(LNK2, "$(P)$(R)E$(E):loopback")
}
