record(longin, "$(P)$(R)E$(E):seqStatus") {
    field(DESC, "EVG $(E) sequencer CSR")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), 0x010$(I), 1)")
    field(SCAN, "I/O Intr")
    field(FLNK, "$(P)$(R)E$(E):seqStarts")
}
record(calc, "$(P)$(R)E$(E):seqStarts") {
    field(DESC, "EVG $(E) injection sequences started")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0x10")
    field(CALC, "J:=(A&B)#0;VAL+(J&!K);K:=J")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
    field(FLNK, "$(P)$(R)E$(E):seqFinishes")
}
record(calc, "$(P)$(R)E$(E):seqFinishes") {
    field(DESC, "EVG $(E) injection sequences completed")
    field(INPA, "$(P)$(R)E$(E):seqStatus NPP MS")
    field(INPB, "0x10")
    field(INPC, "$(P)$(R)E$(E):seqStarts NPP MS")
    field(CALC, "J:=(A&B)#0;(!J&K)?C:VAL;K:=J")
    field(TSEL, "$(P)$(R)E$(E):seqStatus.TIME")
}

record(longin, "$(P)$(R)E$(E):EVGIOstatus_") { field(FLNK, "$(P)$(R)E$(E):EVGIOstatus") }
record(mbbiDirect, "$(P)$(R)E$(E):EVGIOstatus") {
    field(DESC, "Individual bits of $(P)$(R)E$(E):EVGIOstatus_")
    field(INP,  "$(P)$(R)E$(E):EVGIOstatus_ NPP")
}

record(mbbo, "$(P)$(R)E$(E):diagOut") {
    field(DESC, "EVG $(E) diagnostic output control")
    field(DTYP, "asynUInt32Digital")
    field(OUT,  "@asynMask($(PORT), 0x140$(I), 0xFFFF, 0)")
    field(ZRVL, "0x00")
    field(ZRST, "Static {0, 0}")
    field(ONVL, "0x10")
    field(ONST, "Static {0, 1}")
    field(TWVL, "0x20")
    field(TWST, "Static {1, 0}")
    field(THVL, "0x30")
    field(THST, "Static {1, 1}")
    field(FRVL, "0x100")
    field(FRST, "{RefClk, TxClk}")
    field(FVVL, "0x200")
    field(FVST, "{Heartbeat, TxClk}")
    field(SXVL, "0x300")
    field(SXST, "{Alt Heartbeat, TxClk}")
    info(autosaveFields_pass0, "VAL")
}
record(fanout, "$(P)$(R)E$(E):diagOut:rc_") {
    field(DESC, "Push EVG $(E) diag out on (re)connect)")
    field(SCAN, "Event")
    field(EVNT, "RECON")
    field(LNK1, "$(P)$(R)E$(E):diagOut")
}
