record(longin, "$(P)$(R)$(NAME)") {
    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), $(A), 1)")
    field(EGU,  "$(EGU)")
    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    info(archive,"VerySlow")
}
