record(longout, "$(P)$(R)E$(E):SW:$(T)") {
    field(DESC, "Event to send for software trigger $(T)")
}
record(longout, "$(P)$(R)E$(E):SW:$(T):trig") {
    field(DESC, "Event software trigger $(T)")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT), $(A), 1)")
    field(OMSL, "closed_loop")
    field(DOL, "$(P)$(R)E$(E):SW:$(T) NPP")
}
