record(ai, "$(P)$(R)fan$(N):speed") {
    field(DESC, "Fan $(N) speed")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), $(A), 1)")
    field(LINR, "SLOPE")
    field(ESLO, "3.75")
    field(EGU,  "RPM")
    field(LOW,  "6000")
    field(LOLO, "5000")
    field(LSV,  "MINOR")
    field(LLSV, "MAJOR")
    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    info(archive,"VerySlow")
}
