record(ai, "$(P)$(R)$(NAME)") {
    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")
    field(INP,  "@asyn($(PORT), $(A), 0)")
    field(SCAN, "I/O Intr")
    field(TSE,  "-2")
    field(LINR, "SLOPE")
    field(EGU,  "$(EGU)")
    field(ESLO, "$(ESLO)")
    field(EOFF, "$(EOFF)")
    field(PREC, "$(PREC)")
    field(LOPR, "$(LOPR)")
    field(HOPR, "$(HOPR)")
    field(LOLO, "$(LOLO)")
    field(LOW,  "$(LOW)")
    field(HIGH, "$(HIGH)")
    field(HIHI, "$(HIHI)")
    field(LLSV, "$(LLSV)")
    field(LSV,  "$(LSV)")
    field(HSV,  "$(HSV)")
    field(HHSV, "$(HHSV)")
    info(archive,"VerySlow")
}
